        <div class="product-status mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>Products List</h4>
                            <div class="add-product">
                                <a href="productadd">Add Product</a>
                            </div>
                            <table>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Detail</th>
                                    <th>Category</th>
                                    <th>Price</th>
                                    <th>Size</th>
                                    <th>Color</th>
                                    <th>Setting</th>
                                </tr>
                                {{#each products}}
                                <tr>
                                    <td><img src={{this.nameImage}} alt="" /></td>
                                    <td> {{this.name}} </td>
                                    <td>{{this.detail}}</td>
                                    <td>{{this.category}}</td>
                                    <td>{{this.price}}</td>
                                    <td>{{this.size}}</td>
                                    <td>{{this.color}}</td>
                                    <td>
                                        <button data-toggle="tooltip" title="Edit" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
<!--                                        <button data-toggle="tooltip" title="Delete" class="delete" data-doc="{{this._id}}"><i class="fa fatrash--o" aria-hidden="true"></i></button>-->
                                        <a data-toggle="tooltip" title="Delete" class="delete" href="/productlist/{{this._id}}">delete</a>
                                    </td>

                                </tr>
                                {{/each}}
                            </table>

                            <div class="custom-pagination">
								<ul class="pagination">
									<li class="page-item"><a class="page-link" href="#">Previous</a></li>
									<li class="page-item"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item"><a class="page-link" href="#">Next</a></li>
								</ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>