<div class="s008">
    <form action="/product/filter?page=1" method="POST">
    <div class="inner-form">
        <div class="advance-search">
            <span class="desc">Filter</span>
                <div class="row">
                    <div class="input-field">
                        <div class="input-select">
                            <select data-trigger="" id="select-size" name="size">
                                <option value="" disabled selected>Size</option>
                                <option>Small</option>
                                <option>Medium</option>
                                <option>Large</option>
                                <option>Extra Large</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <select data-trigger="" id="select-color" name="color">
                                <option value="" disabled selected>Color</option>
                                <option>green</option>
                                <option>red</option>
                                <option>blue</option>
                                <option>purple</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <select data-trigger="" id="select-category" name="category">
                                <option value="" disabled selected>Category</option>
                                <option>Men</option>
                                <option>Women</option>
                                <option>Kid</option>
                            </select>
                        </div>
                    </div>
                    <div class="input-field">
                        <div class="input-select">
                            <select data-trigger="" id="select-sort" name="sort">
                                <option value="" disabled selected>Sort</option>
                                <option value="1">Price ascending</option>
                                <option value="-1" >Price descending</option>
                            </select>
                        </div>
                    </div>
                </div>
                
            <div class="row third">
                <div class="input-field">
                    <div class="result-count">
                        <span> </span>
                    </div>
                    <div class="group-btn">
                        <a class="btn-delete" id="delete" href="/product">Reset</a>
                        <button class="btn-search" id="SearchButton">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </form>
</div>



<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Products List</h4>
                    <div class="add-product">
                        <a href="/product/pageadd">Add Product</a>
                    </div>
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Detail</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Setting</th>
                        </tr>
                        {{#each products}}
                        <tr>
                            {{!-- <td><img src="https://res.cloudinary.com/dgci6plhk/image/upload/images/{{this._id}}/{{this.nameImage}}.jpg" alt="" /></td> --}}
                            <td><img src="{{this.nameImage}}" alt="img" /></td>
                            <td> {{this.name}} </td>
                            <td>{{this.detail}}</td>
                            <td>{{this.category}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.size}}</td>
                            <td>{{this.color}}</td>
                            <td>
                                        {{!-- <button data-toggle="tooltip" title="Edit" class="edit"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                        <button data-toggle="tooltip" title="Delete" class="delete" data-doc="{{this._id}}"><i class="fa fatrash--o" aria-hidden="true"></i></button> --}}
                                <a data-toggle="tooltip" title="Edit" class="edit" href="/product/edit/{{this._id}}">Edit</a>
                                <a data-toggle="tooltip" title="Edit" class="edit" href="/product/gallery/{{this._id}}">Add Gallery</a>
                                <a data-toggle="tooltip" title="Delete" class="delete" href="/product/delete/{{this._id}}">Delete</a>
                            </td>

                        </tr>
                        {{/each}}
                    </table>

                    <div class="custom-pagination">
                        <ul class="pagination" id="listpage">
                        <input type= "hidden" name="current" id="current" value="{{current}}">
                        <input type= "hidden" name="pages" id="pages" value="{{pages}}">
                        <input type= "hidden" name="sizes" id="sizes" value="{{sizes}}">
                        <input type= "hidden" name="colors" id="colors" value="{{colors}}">
                        <input type= "hidden" name="category" id="category" value="{{category}}">
                        <input type= "hidden" name="sort" id="sort" value="{{sort}}">
                        </ul>
                    </div>
                    <script src= "/js/paginate/list.js"></script>
                </div>
            </div>
        </div>
    </div>
</div>

