<div class="product-status mg-b-30">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap">
                    <h4>Top Product</h4>
                    <div class="add-product">
                        <a href="/product/pageadd">Top product</a>
                    </div>
                    <table>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Detail</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Size</th>
                            <th>Color</th>
                            <th>Quantity Sell</th>
                            <th>Total Money</th>
                        </tr>
                        {{#each products}}
                        <tr>
                            <td><img src="https://res.cloudinary.com/dgci6plhk/image/upload/images/{{this._id}}/{{this.nameImage}}.jpg" alt="" /></td>
                            <td> {{this.name}} </td>
                            <td>{{this.detail}}</td>
                            <td>{{this.category}}</td>
                            <td>{{this.price}}</td>
                            <td>{{this.size}}</td>
                            <td>{{this.color}}</td>
                            <td style="text-align:center;">{{this.quantity}}</td>
                            <td>{{this.total}}</td>
                        </tr>
                        {{/each}}
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>